lib
obj
ipch
x64
*.user
bin
Debug
Release
Debug.vc12
Release.vc12
Debug.vc14
Release.vc14
Symbols
Win32
*.bak
*.old
*.aps
*.layout
*.pdb
Build
*.suo
CryptoToAdd
build/
*~
*.sdf
*.opensdf
*.log
node_modules